{% extends "layout.html" %}

{% block content %}
    <!-- <h3>Still have questions about me or my experience?</h3>
    <br>
    <h3>Ask Brian.AI</h3>
    <h3>Brian.AI is a RAG-based LLM (AI chatbot) informed by my publicly available data - here to fill in any of the gaps this personal site missed</h3>
    <br>
    <h3>Coming soon ...</h3> -->
    <div class="container mt-5"></div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <!-- Introduction and Disclaimer Section -->
                <div class="alert alert-info text-center" role="alert">
                    <h4 class="alert-heading">Chat with Brian's AI assistant</h4>
                    <p>Brian's assistant is designed to answer your questions about Brian's hobbies, interests, and career. Give it a try!</p>
                    <hr>
                    <p class="mb-0"><strong>Disclaimer:</strong> Please note that AI-generated responses may contain inaccuracies or "hallucinations." The information provided may not represent factual information about Brian. For 100% correct information, please reach out to Brian directly.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Chat with Brian's AI assistant</h5>
                        <div id="chat-container">
                            <div id="chat-box"></div>
                        </div>
                        <div class="input-group mt-3">
                            <input type="text" id="user-input" class="form-control" placeholder="Type your message...">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" id="send-btn">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#send-btn").click(function() {
                var userMessage = $("#user-input").val();
                $("#chat-box").append('<p><strong>You:</strong> ' + userMessage + '</p>');
                $("#user-input").val('');
                $.ajax({
                    type: 'POST',
                    url: '/get-chatbot-response',
                    data: { user_message: userMessage },
                    success: function(data) {
                        $("#chat-box").append('<p><strong>AI Assistant:</strong> ' + data + '</p>');
                    }
                });
            });
        });
    </script>
{% endblock content %}