{% extends "layout.html" %}

{% block content %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
<script src="{{ url_for('static', filename='granim.min.js') }}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="main-content" style="text-align: center; width: 100%; position: absolute"></div>
    <h2 style="padding-bottom: 20px">Education</h2>

    <!-- UPenn -->
    <!-- MSE-AI -->
    <div class="flex-container-reverse" style="padding-bottom: 10px; padding-top: 20px;">
        <div class="big-container-left">
            <h3>University of Pennsylvania</h3>
            <h4>Master of Science - Artificial Intelligence</h4>
            <p class="time-text">Jan 2025 Start (Expected)</p>
            <button style="padding-bottom: 5px;" type="button" class="btn btn-outline-success" id="btn1">See more</button>
            <br>
            <br>
            <h4>Master of Computer Information Technology (MCIT)</h4>
            <p class="time-text">Aug 2022 - May 2024</p>
            <p>GPA: 4.00 / 4.00</p>
            <button style="padding-bottom: 5px;" type="button" class="btn btn-outline-success" id="btn2">See more</button>
        </div>
        <div class="small-container-right">
            <img src="static/img/penn.png" class="title-image">
        </div>
    </div>


    <!-- UConn -->
    <!-- Mech-Engr -->
    <div class="flex-container-reverse" style="padding-bottom: 10px; padding-top: 20px;">
        <div class="big-container-left">
            <h3>University of Connecticut</h3>
            <h4>Bachelor of Science - Mechanical Engineering</h4>
            <p class="time-text">Aug 2017 - May 2021</p>
            <p>GPA: 3.85 / 4.00</p>
            <button style="padding-bottom: 5px;" type="button" class="btn btn-outline-success" id="btn4">See more</button>
        </div>
        <div class="small-container-right">
            <img src="static/img/uconn.jpg" class="title-image">
        </div>
    </div>

    <!-- Start Work Experience-->
    <h2 style="padding-top: 50px; padding-bottom: 20px">Professional Work</h2>

    <!-- PW Analytics-->
    <!-- Work Experience #1, #2, #3 -->
    <div class="flex-container-reverse" style="padding-bottom: 10px; padding-top: 20px;">
        <div class="big-container-left">
            <h3>RTX - Pratt & Whitney</h3>
            <h4>Senior Analytics Engineer</h4>
            <p class="time-text">May 2024 - Current</p>
            <h4>Analytics Engineer II</h4>
            <p class="time-text">Jun 2023 - May 2024</p>
            <h4>Analytics Engineer I</h4>
            <p class="time-text">Oct 2022 - Jun 2023</p>
            <button style="padding-bottom: 5px;" type="button" class="btn btn-outline-success" id="btn5">See more</button>
        </div>
        <div class="small-container-right">
            <img src="static/img/rtx.jpeg" class="title-image">
        </div>
    </div>

    <!-- TRIUMPH -->
    <!-- Work Experience #4, 5 -->
    <div class="flex-container-reverse" style="padding-bottom: 10px; padding-top: 20px;">
        <div class="big-container-left">
            <h3>TRIUMPH</h3>
            <h4>Systems Engineer II</h4>
            <p class="time-text">Jun 2021 - Oct 2022</p>
            <h4>Systems Engineering Intern</h4>
            <p class="time-text">Jun 2020 - Jun 2021</p>
            <button style="padding-bottom: 5px;" type="button" class="btn btn-outline-success" id="btn6">See more</button>
        </div>
        <div class="small-container-right">
            <img src="static/img/triumph.jpg" class="title-image">
        </div>
    </div>

    <!-- UConn ITS -->
    <!-- Work Experience #6 -->
    <div class="flex-container-reverse" style="padding-bottom: 25px; padding-top: 20px;">
        <div class="big-container-left">
            <h3>University of Connecticut - Information Technology Services</h3>
            <h4>IT Specialist</h4>
            <p class="time-text">Sep 2018 - Jun 2021</p>
            <button style="padding-bottom: 5px;" type="button" class="btn btn-outline-success" id="btn7">See more</button>
        </div>
        <div class="small-container-right">
            <img src="static/img/uconn_its.jpg" class="title-image">
        </div>
    </div>

    <!-- Modal for Button #1 - MSE AI -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <span class="closeModal1">&times;</span>
            <h2>UPenn MSE-AI</h2>
            <br>
            <div id="carouselIndicators1" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="static/img/penn_ai.jpg" style="height: 200px; object-fit: contain; width: 100%; border-radius: 3%;" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <p>Program Description:</p>
            <p>
                Help shape the future of a revolutionary technology. Our online Master of Science in Engineering (MSE)
                in Artificial Intelligence (AI) degree program gives you the technical foundation you need to lead 
                the development and implementation of AI systems — along with the broad perspective to deploy new tools 
                in an ethical and responsible way.
            </p>
            <p>
                Taught by some of the world’s leading experts in artificial intelligence, the program combines Ivy League
                excellence with the convenience of an entirely online curriculum. No matter where in the world you live,
                you’ll learn at your own pace and on your schedule. 
            </p>
            <p>
                The MSE-AI program explores the mathematical, computational and algorithmic foundation for AI and develops 
                strong competencies in machine learning, statistical modeling and optimization. Students will be equipped 
                with the latest knowledge on the data center infrastructures that are powering the AI revolution, namely 
                distributed systems, networking and GPU programming. At the same time, gain understanding of the ethical 
                implications of AI and prepare to mitigate its risks.
            </p>
            <p>Coursework includes:</p>
            <ul class="about-bullets">
                <li>Machine Learning for Data Science</li>
                <li>Deep Learning (Neural Networks)</li>
                <li>Natural Langauge Processing (NLP, LLM, GenAI)</li>
                <li>GPU Computing (Machine Learning Ops)</li>
                <li>Computer Vision</li>
                <li>Networked Systems</li>
                <li>AI Practicum (Capstone)</li>
            </ul>
        </div>
    </div>

    <!-- Modal for Button #2 - MCIT -->
    <div id="modal2" class="modal">
        <div class="modal-content">
            <span class="closeModal2">&times;</span>
            <h2>UPenn MCIT</h2>
            <br>
            <div id="carouselIndicators2" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="static/img/penn_engr.png" style="height: 200px; object-fit: contain; width: 100%; border-radius: 3%;" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <p>Program Description:</p>
            <p>
                Penn Engineering’s accelerated MCIT Online degree combines Ivy League quality with the flexibility of a virtual experience. 
            </p>
            <p>
                Designed specifically for students who are new to computer science, MCIT Online offers the same innovative curriculum and 
                high-quality teaching as Penn’s on-campus program. Regardless of what you studied as an undergraduate, motivated students 
                will build a strong foundation in computer science and gain real-world coding skills. 
            </p>
            <p>
                Core courses and electives blend computer science theory and applied, project-based learning. You’ll use real-world tools 
                and environments such as TensorFlow and Amazon Cloud, and you’ll have ongoing access to Penn Engineering faculty and TAs 
                through live office hours and discussion forums.
            </p>
            <p>Requisite coursework:</p>
            <ul class="about-bullets">
                <li>Software Design</li>
                <li>Data Structures</li>
                <li>Algorithms</li>
                <li>Computer Systems Programming</li>
                <li>Computer Networks</li>
                <li>Discrete Math</li>
                <li>Statistics for Data Science</li>
                <li>Big Data Analytics</li>
                <li>Machine Learning for Data Science</li>
                <li>Introduction to Artificial Intelligence</li>
            </ul>
        </div>
    </div>

    <!-- Modal for Button #4 - UConn -->
    <div id="modal4" class="modal">
        <div class="modal-content">
            <span class="closeModal4">&times;</span>
            <h2>UConn BSE - Mechanical Engineering</h2>
            <br>
            <div id="carouselIndicators4" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="static/img/uconn_engr.jpg" style="height: 200px; object-fit: contain; width: 100%; border-radius: 3%;" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <p>Program Description:</p>
            <p>
                The Mechanical Engineering program at the University of Connecticut educates students in basic engineering, science, and 
                mathematical principles and prepares them for rewarding careers in engineering. 
            </p>
            <p>
                The Bachelor of Science degree offers opportunities for students to create their own area of focus or to take electives 
                to explore an interest in another professional school or program. 
            </p>
            <p>Requisite coursework</p>
            <ul class="about-bullets">
                <li>Calculus I/II/III</li>
                <li>Differential Equations</li>
                <li>Linear Algebra</li>
                <li>Computational Mechanics</li>
                <li>Thermodynamics I/II</li>
                <li>Fluid Dynamics I/II</li>
                <li>Heat Transfer</li>
                <li>Propulsion</li>
                <li>Turbines & Centrifugal Machinery</li>
                <li>Senior Design Project</li>
            </ul>
        </div>
    </div>

    <!-- Modal for Button #5 - PW -->
    <div id="modal5" class="modal">
        <div class="modal-content">
            <span class="closeModal5">&times;</span>
            <h2>RTX - Pratt & Whitney</h2>
            <br>
            <div id="carouselIndicators5" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="static/img/pw.png" style="height: 200px; object-fit: contain; width: 100%; border-radius: 3%;" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <p>Senior Analytics Engineer</p>
            <ul class="about-bullets">
                <li>
                    Serving as technical lead in a cross-functional project harmonizing several enterprise tools into central platform 
                    to decrease tool fragmentation, increase tool scalability, and provide a single source of truth for data outputs
                </li>
            </ul>
            <p>Analytics Engineer II</p>
            <ul class="about-bullets">
                <li>
                    Trained a random forest machine learning model to predict engine shop visit
                    cost with 90% accuracy for use in maximizing revenue over engine contract
                </li>
                <li>
                    Refactored app’s ETL process to reduce runtime by 98% by identifying and
                    replacing inefficient Python code with SQL
                </li>
                <li>
                Performed engine failure time analysis by fitting field data to Weibull
                probability distributions to assess engine design improvements relative to their expectation
                </li>
            </ul>
            <p>Analytics Engineer I</p>
            <ul class="about-bullets">
                <li>
                Developed analytic to recommend cost-optimized engine work scopes to maintenance
                engineers by extracting current engine data, work scope benefit estimates, and
                engine life requirements
                </li>
                <li>
                Automated process to generate and email engine data report to maintenance engineers
                when an engine needs maintenance, providing an estimated time savings of 5 hours per engine event
                </li>
                <li>
                Leveraged full-stack software development via Agile, Git, and Django (Python, JavaScript, HTML, ORM)
                to deploy Python / SQL based analytics, using common data libraries (NumPy, pandas, scikit-learn, SciPy,
                Matplotlib, seaborn)
                </li>
            </ul>
        </div>
    </div>

    <!-- Modal for Button #6 - TRIUMPH -->
    <div id="modal6" class="modal">
        <div class="modal-content">
            <span class="closeModal6">&times;</span>
            <h2>TRIUMPH</h2>
            <br>
            <div id="carouselIndicators6" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="static/img/triumph.jpg" style="height: 200px; object-fit: contain; width: 100%; border-radius: 3%;" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <p>Systems Engineer II</p>
            <ul class="about-bullets">
                <li>
                Developed thermal system models using Engineering Equation Solver (EES) to design
                and analyze legacy and prototype environmental control systems (ECS) in response to
                new business requests (RFP, RFQ, RFI)
                </li>
                <li>
                Wrangled performance analysis data and generated relevant data visualizations to
                highlight stakeholders’ key interests
                </li>
                <li>
                Communicated with external stakeholders to clarify requirements and present current
                status and final output
                </li>
            </ul>
            <p>Systems Engineering Intern</p>
            <ul class="about-bullets">
                <li>
                    Designed test automation tool to digitize data storage, eliminate human error,
                    and reduce test turn-around time using macros with Excel VBA
                </li>
                <li>
                    Modified VB script to automatically create custom templates for CAD engineering
                    drawings in CATIA V5
                </li>
                <li>
                    Performed lab acceptance testing procedures for OEM and MRO refrigerant screw compressors and
                    thermal expansion valves
                </li>
            </ul>
        </div>
    </div>

    <!-- Modal for Button #7 - UConn ITS -->
    <div id="modal7" class="modal">
        <div class="modal-content">
            <span class="closeModal7">&times;</span>
            <h2>UConn ITS</h2>
            <br>
            <div id="carouselIndicators7" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="static/img/uconn_its.jpg" style="height: 200px; object-fit: contain; width: 100%; border-radius: 3%;" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <p>IT Specialist</p>
            <ul class="about-bullets">
                <li>
                    Responsible for imaging computers, installing, and maintaining hardware/software for UConn staff on
                    Windows and MacOS
                </li>
                <li>
                    Assisted users to reset passwords, check network connectivity, manage Active Directory accounts
                </li>
                <li>
                    Maintained appropriate records, ticketing system, and communications to ensure proper tracking of
                    necessary support tasks
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='experience.js') }}" charset="utf-8"></script>
{% endblock content %}