{% extends "layout.html" %}

{% block content %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
<script src="{{ url_for('static', filename='granim.min.js') }}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<canvas id="canvas-image-blending"></canvas>

<div class="main-content" style="text-align: left; width: 90%; position: absolute">
    <div class="" style="height: 750px;">
        <h1 style="padding-top: 230px; color: white;">Hi, my name is Brian Frechette</h1>
        <p style="padding-top: 25px; color: white;" id="app"></p>
    </div>
    <h2 style="padding-bottom: 10px; padding-top: 10px;">Introduction</h2>

    <!-- Introduction -->
    <div class="flex-container-reverse" style="padding-bottom: 50px; padding-top: 20px;">
        <div class="big-container-left" style="">
            <p style="padding-bottom: 5px;">
                Hi, my name is Brian Frechette. With over 3 years of professional experience, I have a track record 
                and passion for solving hard technical problems across engineering and business teams.
            </p>
            <p style="padding-bottom: 5px;">
                My interests include software development, big data, and machine learning / AI.
            </p>
            <p style="padding-bottom: 5px;">
                Some of the main languages, tools, and processes I have professional experience with include:
        <!-- </p>
        <p style="padding-bottom: 5px;"></p> -->
            <ul style="font-size: large;">
                <li>Python (Spark, sklearn, PyTorch, Huggingface, pandas, Django, Flask)</li>
                <li>SQL (Spark, SQL Server, PostgreSQL, SQLite)</li>
                <li>Cloud Computing (Azure, AWS, Databricks)</li>
                <li>Full-stack software development (JavaScript, HTML, CSS)</li>
                <li>Data visualization (Matplotlib, seaborn, amcharts)</li>
                <li>Git (GitHub)</li>
                <li>Agile (Jira, Zenhub)</li>
            </ul>
            </p>
            <p style="padding-bottom: 5px;">
                Outside of work I enjoy lifting, running, pickle ball, traveling, good food, podcasts, and spending quality time with
                my friends, family, and dog (Roman)!
            </p>
            <p class="time-text">Fun fact: I can solve a Rubik's cube.</p>
        </div>
        <div class="small-container-right">
            <img src="static/img/headshot.jpeg" class="title-image">
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='index.js') }}" charset="utf-8"></script>

{% endblock content %}